<ion-side-menus>
  <!-- Center content -->
  <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" drawer-toggle animate="true">
      </button>
   </ion-nav-buttons>
    </ion-nav-bar>

  <ion-side-menu-content>
      <ion-view title="Ionic App">
        <ion-content>
        </ion-content>
      </ion-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <drawer side="left">  
	  	<ion-nav-bar  class="bar-stable nav-title-slide-ios7 has-tabs-top"> 
      </ion-nav-bar>
  		
        <ion-view title="Menu">
          <ion-content>
          </ion-content>
        </ion-view>
  </drawer>
</ion-side-menus>
