<ion-side-menus>
  <!-- Center content -->
  <ion-nav-bar class="bar-positive nav-title-slide-ios7 has-tabs-top">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon" drawer-toggle animate="true">
      </button>
   </ion-nav-buttons>
   <ion-nav-title>
    Ionic App
   </ion-nav-title>
  </ion-nav-bar>

  <ion-side-menu-content>
       <ion-view>
        <ion-content class="has-header">
        </ion-content>
      </ion-view>

  </ion-side-menu-content>

 <drawer side="left">  
      <ion-nav-bar class="bar-stable nav-title-slide-ios7 has-tabs-top"> 
      </ion-nav-bar>
      
      <ion-nav-view>
        <ion-view title="Cool">
          <ion-content>
          </ion-content>
        </ion-view>
      </ion-nav-view>
  </drawer>


</ion-side-menus>
